* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
DESCTOP SIZE
=================================================== */
@media (min-width: 600px) {
    /* Layout */
    .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
        padding: 1rem 2.5rem 2.5rem;
    }

    /* Main */
    main {
        width: 68%;
        margin-bottom: 0;
    }

    /* Aside */
    aside {
        width: 26%;
    }
}

/*
=================================================== */
.post-title {
    padding-bottom: 10px;
    background-image: linear-gradient(45deg, #fff 30%, #ccc 30%, #ccc 50%, #fff 50%, #fff 80%, #ccc 80%, #ccc 100%);
    background-size: 6px 6px;
    margin-bottom: 1.5rem;
}
.post-title h2 {
    background: #fff;
    padding: 0.5rem 0.875rem;
    font-size: 1.5rem;
    font-family: 'M PLUS Round 1c', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}
.post-title. a {
    color: #949087;
    text-decoration: none;
}